<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GPSSample"
        tools:targetApi="31">
        <activity
            android:name=".activity.manager.network.NetworkActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
 
        <activity
            android:name=".activities.SignInSignUpActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GPSSample.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".activities.SignInActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.SignUpActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.AdminActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.SupervisorActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.EnumeratorActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.BarcodeScanActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.AddConfigurationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.DefineEnumerationAreaActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.DefineEnumerationFieldsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.DefineSamplingMethodActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".barcode.CameraXLivePreviewActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>